<div class='auth-container'>
    <form action="" class='auth-form'>
        <h3 class='auth-form__title'>Вход</h3>
        <div class='auth-form__inputs'>
			{{{inputLogin}}}
            {{{inputPassword}}} 
        </div>
        <div class='auth-form__buttons'>
			{{{authButton}}}
			<button class='auth-form__signup profile__btn-link'  type = "button">{{additionalAction}}</button>
        </div>
    </form>
</div>
