<div class='auth-container'>
    <form action="" class='auth-form' name="login">
        <h3 class='auth-form__title'>Вход</h3>
        <div class='auth-form__inputs'>
			{{{inputLogin}}}
            {{{inputPassword}}} 
        </div>
        <div class='auth-form__buttons'>
			{{{authButton}}}
			{{{registerButton}}}
        </div>
    </form>
</div>
