<div class='profile-layout'>
    <div class='profile-layout__back-button'>
        <img src={{arrowLeft_icon}} alt="Назад"/>

    </div>
    <div class='profile-layout__content'>
        {{{profilePage}}}

    </div>
	{{{profileUploadAvatarModal}}}
</div>
